<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="CodePersistanceMgr.DefaultFilePath" value="input.txt"/>
		<add key="CodePersistanceMgr.DefaultTimeServersFilePath" value="time-servers.txt"/>
		<add key="CodePersistanceMgr.DefaultResetValue" value="X0X0X0"/>
		<add key="CodePersistanceMgr.DefaultLastUnlockedCodeFilePath" value="last-unlocked-code.txt"/>
		<add key="CodePersistanceMgr.DefaultAppSettingsFilePath" value="config.xml"/>
		<add key="CodePersistanceMgr.DefaultUserEmail" value="NOEMAIL"/>
		<add key="TimeoutMS" value="4000"/>
		<add key="UseMicrosoftTime" value="false"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
</configuration>
